<%= form_for(@work_time_unit) do |f| %>
  <% if @work_time_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_time_unit.errors.count, "error") %> prohibited this work_time_unit from being saved:</h2>

      <ul>
      <% @work_time_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :story_id %><br>
    <%= f.number_field :story_id %>
  </div>
  <div class="field">
    <%= f.label :started_at %><br>
    <%= f.text_field :started_at %>
  </div>
  <div class="field">
    <%= f.label :finished_at %><br>
    <%= f.text_field :finished_at %>
  </div>
  <div class="field">
    <%= f.label :total_time_in_seconds %><br>
    <%= f.number_field :total_time_in_seconds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
