<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @work_time_unit.user_id %>
</p>

<p>
  <strong>Pivotal story:</strong>
  <%= @work_time_unit.pivotal_story_id %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @work_time_unit.started_at %>
</p>

<p>
  <strong>Finished at:</strong>
  <%= @work_time_unit.finished_at %>
</p>

<p>
  <strong>Total time in seconds:</strong>
  <%= @work_time_unit.total_time_in_seconds %>
</p>

<%= link_to 'Edit', edit_work_time_unit_path(@work_time_unit) %> |
<%= link_to 'Back', work_time_units_path %>
