<div class='row'>
  <div class='col-sm-1'></div>
  
  <div class='col-sm-5'>
    <div class='panel panel-success'>
      <div class='panel-heading'>
        <strong>Project:</strong> <%= @pivotal_project['name'] %>
      </div>
    </div>
    
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <strong>My Work:</strong>
      </div>
      <div class="list-group">
        <% [].each do |pivotal_story| %>
      	  <a href="#" class="list-group-item">
            <h6 class="list-group-item-heading"><%= pivotal_story['id'] %> - <%= pivotal_story['name'] %></h4>
            <p class="list-group-item-text">...</p>
          </a>
        <% end %>
      </div>
    </div>
   
    <% @pivotal_iterations.each do |pivotal_iteration| %>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <strong>Iteration:</strong> <%= pivotal_iteration['number'] %>
        </div>
        
        <div class="list-group">
          <% pivotal_iteration['stories'].each do |pivotal_story| %>
        	  <a href="#" class="list-group-item">
              <h6 class="list-group-item-heading"><%= pivotal_story['id'] %> - <%= pivotal_story['name'] %></h4>
              <p class="list-group-item-text">...</p>
            </a>
          <% end %>
        </div>
      </div>
      <br /><br />
    <% end %>
  </div>
  
  <div class='col-sm-5'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        Clockydoo.
      </div>
    </div>
  </div>
  
  <div class='col-sm-1'></div>
</div>
